
*.MF
*.MF
*.properties
*.MF
*.properties
cargot/cargot-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
cargot/cargot-ejb/target/classes/META-INF/maven/aliptic.projet/cargot-ejb/pom.properties
cargot/cargot-ejb/target/classes/META-INF/MANIFEST.MF
cargot/cargot-ear/target/m2e-wtp/ear-resources/META-INF/maven/aliptic.projet/cargot-ear/pom.properties
cargot/cargot-ear/target/m2e-wtp/ear-resources/META-INF/MANIFEST.MF
cargot/cargot-ear/.settings/org.eclipse.wst.common.component
*.MF
cargot/cargot-ejb/target/classes/META-INF/MANIFEST.MF
